.title{
    text-align: center;
    font-size: 80px;
}
body{
    background-image: url(code.avif);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.cat{
    width: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;

}

button{
    background-color: rgb(0, 0, 0);
    padding-left: 50px;
    color: white;
    padding-right: 50px;
    border: none;
    cursor:pointer;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    
}

.pad1{
    width: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}